.form {
  display: none;
  margin-left: auto;

  height: 3.5rem;

  position: relative;
}

.form__input {
  display: block;
  border: 1px solid #dee1e3;
  border-radius: 30px;
  background: none;

  padding: 0 1rem 0 4rem;
  width: 20rem;
  height: 3.5rem;

  font-size: 1.3rem;

  transition: width .2s linear;

  &:focus {
    outline: none;
    width: 25rem;
  }

  &::placeholder {
    color: #666666;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent
  }

  &:focus::-moz-placeholder {
    color: transparent
  }

  &:focus::-moz-placeholder {
    color: transparent
  }

  &:focus::-ms-input-placeholder {
    color: transparent
  }
}

.form__btn {
  width: 17px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: none;
}

@media (min-width: 1024px) {
  .form {
    display: block;
  }
}