.price {
  font-size: 2.2rem;
  font-weight: 600;
}

.price__main {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.price__strike {
  margin: 0;
  font-size: 1.3rem;
  color: #999999;
  text-decoration: line-through;
}