.rating {
  position: relative;
  font-size: 3rem;
  display: inline-block;
  margin-left: -2px;

  &:before {
    content: "★★★★★";
    display: block;
    color: rgba($orange, .3);
  }
}

.rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.rating__item {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: rgba($orange, .3);
}

.rating__label:before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.rating__item:checked,
.rating__item:checked ~ .rating__label {
  color: $orange;
}

.rating__label:hover,
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label:hover {
  color: $orange;
}

.rating__reviews {
  display: block;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}