.social__item {
  display: inline-block;
  margin-right: .5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .social {
    position: absolute;
    bottom: 0;
    right: 2rem;
  }
}