*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% от 16px(дефолт знач шрифта в браузере) = 10px */
}

body {
  margin: 0;
  background-color: $white;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem; /* 1.4 * 10px = 14px */
  line-height: 1.4;
  color: $black;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem;
}

body.no-scroll {
  overflow: hidden;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;

  svg {
    display: block;
  }

  &:focus {
    outline: none;
  }
}