//@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
//@import '../../node_modules/bootstrap/scss/utilities';
//@import '../../node_modules/bootstrap/scss/grid';

@import 'colors';
@import 'fonts';
@import 'general';

@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/form';
